body {
    background-color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #6A0DAD;
}

#viewer {
    width: 100%;
    height: 600px;
}

#slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: #B395F9;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

#alignerRange {
    width: 300px;
}

#alignerNumber {
    margin-left: 10px;
    font-size: 18px;
    color: #6A0DAD;
}
