body {
    background-color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #6A0DAD;
}

#viewer {
    margin: 20px auto;
}

#alignerControls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#alignerSlider {
    width: 400px;
}

#controls {
    margin-top: 20px;
}

button {
    background-color: #B395F9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #6A0DAD;
}
